.card {
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  -webkit-border-radius: 16px 16px 16px 16px;
          border-radius: 16px 16px 16px 16px;
}
.card .card-image-container {
  position: relative;
}
.card .card-image-container:hover .card-overlay {
  height: 100%;
}
.card .card-image-container > img {
  -webkit-border-radius: 16px 16px 0 0;
          border-radius: 16px 16px 0 0;
  width: 100%;
  height: auto;
}
.card .card-image-container > .card-sale {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 24px;
  padding: 8px 16px;
  background-color: #FC4646;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 120%;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.card .card-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 16px 16px 0 0;
          border-radius: 16px 16px 0 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  z-index: 500;
}
.card .card-overlay-button {
  padding: 12px;
  background-color: #FC4646;
  color: white;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  cursor: pointer;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.card .card-overlay-button:hover {
  background-color: #483F3F;
}
.card figcaption {
  margin: 0;
  padding: 12px 8px;
  color: #FC4646;
  text-align: center;
  font-size: 180%;
  font-weight: 800;
}
@media only screen and (min-width: 768px) {
  .card figcaption {
    font-size: 160%;
  }
}
.feedback-form {
  padding: 0 12px;
  background-color: #EFECE5;
  text-align: center;
}
.feedback-form h3 {
  padding: 24px 0 12px 0;
  margin: 0;
  text-align: center;
  font-size: 150%;
  width: 100%;
}
.feedback-form label {
  margin: 0 8px;
  padding: 24px 0;
}
.feedback-form input[type=text] {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 8px;
  margin: 12px 0;
  width: 100%;
}
.feedback-form input[type=submit],
.feedback-form input[type=button] {
  background-color: #FC4646;
  color: #FFFFFF;
  padding: 12px;
  margin: 12px 0 24px 0;
  width: 40%;
  border: 0;
  font-weight: 800;
}
.feedback-form input[type=submit]:hover,
.feedback-form input[type=button]:hover {
  -webkit-transform: scale(1.02, 1.02);
      -ms-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  -o-transition: transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
  -webkit-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.feedback-form input[type=submit]:active,
.feedback-form input[type=button]:active {
  background-color: #483F3F;
  -webkit-transform: scale(0.99, 0.99);
      -ms-transform: scale(0.99, 0.99);
          transform: scale(0.99, 0.99);
  -webkit-transition: -webkit-transform 0.1s;
  transition: -webkit-transform 0.1s;
  -o-transition: transform 0.1s;
  transition: transform 0.1s;
  transition: transform 0.1s, -webkit-transform 0.1s;
  -webkit-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.feedback-form input[type=button][disabled=disabled] {
  background-color: #606060;
}
.feedback-form textarea {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  padding: 8px;
  margin: 12px 0;
  width: 100%;
}
.feedback-form .invalid {
  border-color: #FC4646;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  padding: 24px 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal .modal-content {
  position: relative;
  background-color: #FFFFFF;
  margin: auto;
  padding: 0;
  width: 90%;
  -webkit-border-radius: 16px 16px 16px 16px;
          border-radius: 16px 16px 16px 16px;
  -webkit-animation-name: modal-animatetop;
          animation-name: modal-animatetop;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}
@media only screen and (min-width: 1400px) {
  .modal .modal-content {
    width: 60%;
  }
}
.modal header {
  -webkit-border-radius: 16px 16px 0 0;
          border-radius: 16px 16px 0 0;
  padding: 8px 24px;
  background-color: #FC4646;
}
.modal header > h2 {
  color: white;
  font-size: 150%;
  padding: 0;
  margin: 0;
}
.modal header > .modal-close {
  color: white;
  float: right;
  font-size: 150%;
  font-weight: 700;
  cursor: pointer;
}
.modal header:after {
  content: '';
  clear: both;
  display: table;
}
.modal section {
  padding: 24px;
}
@media only screen and (min-width: 768px) {
  .modal section .left {
    padding-top: 0;
    padding-right: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .modal section .right {
    padding-top: 0;
    padding-left: 16px;
  }
}
.modal section .right > img.image-size {
  width: 100%;
  height: auto;
  display: block;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  padding: 8px 0;
  margin: 16px 0;
}
.modal section .slider-wrapper {
  padding-bottom: 24px;
}
/*
@-webkit-keyframes modal-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@-moz-keyframes modal-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@-o-keyframes modal-animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

*/
@-webkit-keyframes modal-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes modal-animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.accordion-switcher {
  margin-top: 12px;
  display: block;
  cursor: pointer;
  width: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  background-color: #EFECE5;
  padding: 8px;
}
.accordion-switcher:before {
  display: inline-block;
  content: '\f0a4';
  margin-right: 8px;
  font: normal normal normal 14px/1 FontAwesome;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.accordion-switcher-active:before {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.accordion-panel {
  display: block;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  -o-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html,
body {
  max-width: 2000px;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
}
html {
  font-size: 16px;
}
@media only screen and (max-width: 300px) {
  html {
    font-size: 10px;
  }
}
@media only screen and (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
div {
  margin: 0;
  padding: 0;
}
section,
article,
header,
footer {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #483F3F;
  line-height: 1.5;
}
h2 {
  font-weight: 700;
  font-size: 250%;
}
@media only screen and (min-width: 768px) {
  h2 {
    font-size: 300%;
  }
}
p {
  line-height: 1.5;
  margin: 8px 0 16px 0;
}
ul {
  margin: 0;
  padding: 0 0 0 16px;
}
li {
  line-height: 1.5;
  margin: 8px 0;
  list-style-image: url('../images/bullet_t.png');
}
blockquote {
  color: #606060;
  margin-left: 0;
  margin-right: 0;
  padding-left: 16px;
  padding-right: 0;
  border-left: 4px solid #FC4646;
}
.pink {
  color: #FC4646;
}
.row:after {
  content: '';
  clear: both;
  display: table;
}
.col-full {
  width: 100%;
}
.col-half {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-half {
    width: 50%;
    float: left;
  }
}
.col-third {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-third {
    width: 33.33%;
    float: left;
  }
}
.col-twothird {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  .col-twothird {
    width: 66.66%;
    float: left;
  }
}
.content {
  width: 100%;
  max-width: 768px;
  margin: auto;
  padding: 48px 12px;
}
@media only screen and (min-width: 768px) {
  .content {
    width: 90%;
    max-width: 90%;
  }
}
@media only screen and (min-width: 1400px) {
  .content {
    width: 70%;
    max-width: 70%;
  }
}
.headed {
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
}
@media only screen and (min-width: 768px) {
  .headed {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .headed:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background: url('../images/bg_white_top.png') left bottom repeat-x;
  }
}
.headed h2:first-child {
  display: block;
  margin: 0;
  padding: 0;
  padding: 8px 8px 16px 8px;
  color: #FC4646;
}
.bg-canvas {
  background-color: #EFECE5;
}
@media only screen and (min-width: 768px) {
  .bg-canvas {
    position: relative;
    background: url('../images/bg01.png') left top;
  }
}
@media only screen and (min-width: 768px) {
  .bg-canvas:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background: url('../images/bg01_top.png') left bottom repeat-x;
  }
}
.bg-pink {
  background-color: #FC4646;
}
@media only screen and (min-width: 768px) {
  .bg-pink {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .bg-pink:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background: url('../images/bg02_top.png') left bottom repeat-x;
  }
}
.bg-darkbeige {
  background-color: #C4BBAB;
}
@media only screen and (min-width: 768px) {
  .bg-darkbeige {
    position: relative;
  }
}
@media only screen and (min-width: 768px) {
  .bg-darkbeige:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background: url('../images/bg03_top.png') left bottom repeat-x;
  }
}
.bg-pinkgifts {
  background-color: #FC4646;
}
@media only screen and (min-width: 768px) {
  .bg-pinkgifts {
    position: relative;
    background: url('../images/bg04.png') left top;
  }
}
@media only screen and (min-width: 768px) {
  .bg-pinkgifts:before {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 8px;
    top: -8px;
    background: url('../images/bg02_top.png') left bottom repeat-x;
  }
}
.image {
  width: 100%;
  height: auto;
  display: block;
}
#header {
  background-color: #FC4646;
  padding: 0;
}
#header .content {
  padding: 24px 0;
}
#header .col-half {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #header .col-half {
    height: 48px;
    position: relative;
  }
}
#header .left {
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  #header .left {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
#header .right {
  margin-top: 8px;
  color: #FFFFFF;
}
@media only screen and (min-width: 768px) {
  #header .right {
    text-align: right;
    margin-top: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 160%;
    line-height: 0.9;
  }
}
#header .phone {
  font-weight: 700;
}
@media only screen and (min-width: 768px) {
}
#header .shipping {
  font-size: 90%;
}
@media only screen and (min-width: 768px) {
  #header .shipping {
    font-size: 70%;
  }
}
@media only screen and (min-width: 768px) {
  #demo {
    padding: 48px 0 72px 0;
  }
}
@media only screen and (min-width: 768px) {
  #demo .content {
    padding: 0;
    background-color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
#demo .content:after {
  content: '';
  clear: both;
  display: table;
}
#demo #twenty-wr {
  display: block;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  #demo #twenty-wr {
    width: 50%;
    float: left;
    margin: 0 48px 0 0;
  }
}
#demo #twenty-cont {
  display: none;
  width: 100%;
  height: auto;
}
#demo #twenty-st {
  display: block;
  width: 100%;
  height: auto;
}
@media only screen and (min-width: 768px) {
  #demo .demo-text {
    margin: 0 48px;
  }
}
#demo p {
  overflow: hidden;
}
#demo h1 {
  overflow: hidden;
  color: #FC4646;
  font-size: 250%;
}
@media only screen and (min-width: 768px) {
  #demo h1 {
    padding-top: 24px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.3;
    font-size: 300%;
  }
}
#demo .big-pink-text {
  color: #FC4646;
  font-size: 150%;
}
@media only screen and (min-width: 768px) {
  #gallery .row {
    padding: 36px 0;
  }
}
#gallery .col-third {
  padding: 0 0 24px 0;
}
@media only screen and (min-width: 768px) {
  #gallery .col-third {
    padding: 0;
  }
}
@media only screen and (min-width: 768px) {
  #gallery .left {
    padding: 0 48px 0 0;
  }
}
@media only screen and (min-width: 768px) {
  #gallery .center {
    padding: 0 24px;
  }
}
@media only screen and (min-width: 768px) {
  #gallery .right {
    padding: 0 0 0 48px;
  }
}
@media only screen and (min-width: 768px) {
  #size img {
    display: block;
    margin: auto;
    width: 85%;
    height: auto;
  }
}
#work .content {
  text-align: center;
}
#work .fa {
  font-size: 32px;
}
#work .step {
  text-align: left;
  background: #EFECE5;
  -webkit-border-radius: 16px;
          border-radius: 16px;
  padding: 8px 24px;
  font-size: 120%;
}
#work .digit {
  font-weight: bold;
  font-size: 120%;
  color: #FC4646;
}
#work a {
  color: #483F3F;
}
#footer {
  /*
    a:link {
        color: @color-white;
    }
    a:visited {
        color: @color-white;
    }
    a:hover {
        color: @color-white;
    }
    a:active {
        color: @color-white;
    }
    */
}
#footer .left {
  padding-bottom: 16px;
}
@media only screen and (min-width: 768px) {
  #footer .left {
    padding-bottom: 0;
    padding-right: 16px;
  }
}
#footer .right {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #footer .right {
    text-align: left;
    padding-left: 16px;
  }
}
#footer address {
  font-style: normal;
}
#footer p {
  color: white;
}
#footer a {
  color: #FFFFFF;
}
